<%= render "shared/navbar" %>

<main>
  <section id="profile">
    <h1>My Profile</h1>
    <div class="pro-form">
      <%= form_with url: "/update-email", method: :post, local: true do %>
        <h2>Change Email:</h2>
        <%= label_tag :email, "", for: "email" %>
<%= email_field_tag :email, nil, placeholder: @user.email, required: true, id: "email" %>
        <%= submit_tag "Save", class: "save-btn" %>
      <% end %>

      <%= form_with url: "/update-password", method: :post, local: true do %>
        <h2>Change Password:</h2>
        <%= label_tag :old_password, "", for: "old-password" %>
        <%= password_field_tag :old_password, nil, placeholder: "Enter old password", required: true, id: "old-password" %>
        <%= label_tag :new_password, "", for: "new-password" %>
        <%= password_field_tag :new_password, nil, placeholder: "Enter new password", required: true, id: "new-password" %>
        <%= submit_tag "Save", class: "save-btn" %>
      <% end %>

      <%= button_to "Delete account", delete_account_path, method: :delete, class: "delete-btn btn btn-danger" %>
    </div>
  </section>
</main>

<%= render "shared/footer" %>

