<%= render "shared/navbar" %>

<h1>My profile</h1>

<!-- E-Mail bearbeiten -->
<h2>Email bearbeiten</h2>
<%= form_with model: @user, url: update_email_profile_path, method: :patch, local: true do |form| %>
  <div>
    <%= form.label :email, "New Email" %><br>
    <%= form.email_field :email, value: @user.email, required: true %>
  </div>
  <div>
    <%= form.submit "Save email" %>
  </div>
<% end %>

<h2>Passwort ändern</h2>
<%= form_with model: @user, url: update_password_profile_path, method: :patch, local: true do |form| %>
  <div>
    <%= form.label :password, "New passwort" %><br>
    <%= form.password_field :password, placeholder: "Type new password", required: true %>
  </div>

  <div>
    <%= form.label :password_confirmation, "Confirm password" %><br>
    <%= form.password_field :password_confirmation, placeholder: "Confirm password", required: true %>
  </div>

  <div>
    <%= form.submit "Password save" %>
  </div>
<% end %>

<%= button_to "Account löschen", delete_account_path, method: :delete, class: "btn btn-danger" %>
