<%= render "shared/navbar" %>

<main>
  <section id="wordlist">
    <hgroup>
      <h1>WordList</h1>
      <%= link_to saved_words_path(sort: (params[:sort] == "asc" ? "desc" : (params[:sort] == "desc" ? "default" : "asc"))), class: "btn btn-primary" do %>
        <svg viewBox="0 0 142 117" xmlns="http://www.w3.org/2000/svg" class="sort">
          <path d="M58.5146 72.206L68.8573 82.5464L34.4288 117L0 82.5464L10.343 72.206L27.1143 88.9734V7.31239H41.743V88.9734L58.5146 72.206ZM107.572 0L73.1427 34.4563L83.4857 44.7968L100.258 28.029V109.688H114.886V28.0296L131.657 44.7968L142 34.4563L107.572 0Z"/>
        </svg>
      <% end %>
    </hgroup>
    <div class="table-div">
      <% if @saved_words.present? %>
        <table class="word-table">
          <thead>
            <tr>
              <th>Word</th>
              <th>Language</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @saved_words.each do |liked_word| %>
              <tr>
                <td><strong><%= liked_word.word %></strong></td>
                <td><%= TranslationsController::LANGUAGE_NAMES[liked_word.source_lang] %></td>
                <td>
                  <%= link_to translations_path(text: liked_word.word, source_lang: liked_word.source_lang), method: :post, class: "translation-link" do %>
                    <svg viewBox="0 0 165 169" xmlns="http://www.w3.org/2000/svg">
                      <path d="M90.75 59.15H78.2925C73.095 59.15 67.98 61.685 65.175 65.065L57.75 42.25H34.0725L14.355 101.4H28.2975L34.4025 84.5H57.75V118.3H16.5C7.425 118.3 0 110.695 0 101.4V42.25C0 32.955 7.425 25.35 16.5 25.35H74.25C83.325 25.35 90.75 32.955 90.75 42.25V59.15ZM53.7075 76.05H37.0425L45.2925 51.2915L53.7075 76.05Z"/>
                      <path d="M82.5 67.6H140.25C149.325 67.6 156.75 75.205 156.75 84.5V143.65C156.75 152.945 149.325 160.55 140.25 160.55H82.5C73.425 160.55 66 152.945 66 143.65V84.5C66 75.205 73.425 67.6 82.5 67.6ZM142.312 109.85V100.724H116.16V82.3875H106.59V100.724H80.4375V109.85H90.9975C91.905 117.033 95.6175 125.483 101.558 131.989C94.38 135.031 85.965 137.228 82.5 137.228C82.4175 137.397 84.315 145.425 84.15 149.565C91.08 149.565 102.382 145.34 111.21 139.847C120.202 145.34 131.67 149.565 138.765 149.565C138.6 145.425 140.415 137.397 140.415 137.228C136.868 137.228 128.123 134.947 120.78 131.905C126.555 125.398 130.185 116.948 131.093 109.85H142.312Z"/>
                      <path d="M110.88 126.159C106.755 122.272 103.868 116.61 102.548 109.85H119.79C118.388 116.61 115.583 122.272 111.54 126.159L111.21 126.412C111.21 126.412 110.962 126.243 110.88 126.159Z"/>
                    </svg>
                  <% end %>
                </td>
                <td>
                  <%= button_to delete_saved_word_path(liked_word), method: :delete, class: "icon-delete" do %>
                    <svg viewBox="0 0 117 117" xmlns="http://www.w3.org/2000/svg">
                      <path d="M58.5 19.5C36.9574 19.5 19.5 36.9622 19.5 58.5C19.5 80.0378 36.9574 97.5 58.5 97.5C80.0426 97.5 97.5 80.0378 97.5 58.5C97.5 36.9622 80.0426 19.5 58.5 19.5ZM76.5716 69.6784C77.4857 70.5925 77.9993 71.8323 77.9993 73.125C77.9993 74.4177 77.4857 75.6575 76.5716 76.5716C75.6575 77.4857 74.4177 77.9993 73.125 77.9993C71.8323 77.9993 70.5925 77.4857 69.6784 76.5716L58.5 65.3932L47.3216 76.5716C46.8699 77.0259 46.3329 77.3864 45.7414 77.6324C45.1499 77.8784 44.5156 78.005 43.875 78.005C43.2344 78.005 42.6001 77.8784 42.0086 77.6324C41.4171 77.3864 40.8801 77.0259 40.4284 76.5716C39.5145 75.6574 39.001 74.4177 39.001 73.125C39.001 71.8323 39.5145 70.5926 40.4284 69.6784L51.6068 58.5L40.4284 47.3216C39.5143 46.4075 39.0007 45.1677 39.0007 43.875C39.0007 42.5823 39.5143 41.3425 40.4284 40.4284C41.3425 39.5143 42.5823 39.0007 43.875 39.0007C45.1677 39.0007 46.4075 39.5143 47.3216 40.4284L58.5 51.6068L69.6784 40.4284C70.5925 39.5143 71.8323 39.0007 73.125 39.0007C74.4177 39.0007 75.6575 39.5143 76.5716 40.4284C77.4857 41.3425 77.9993 42.5823 77.9993 43.875C77.9993 45.1677 77.4857 46.4075 76.5716 47.3216L65.3932 58.5L76.5716 69.6784Z"/>
                    </svg>
                  <% end %>
                </td>
                <td>
                  <% if liked_word.share_token.present? %>
                    <button type="button" class="btn btn-info share-btn" data-link="<%= shared_word_url(liked_word.share_token) %>">
                      <svg viewBox="0 0 118 111" xmlns="http://www.w3.org/2000/svg" class="icon-share">
                        <path d="M116.021 54.0575L72.6775 15.2946C71.9198 14.6172 70.9545 14.1559 69.9037 13.969C68.8529 13.7822 67.7637 13.8781 66.7739 14.2448C65.784 14.6114 64.9379 15.2323 64.3426 16.0289C63.7473 16.8255 63.4294 17.7621 63.4291 18.7203V35.8971C48.629 37.1219 34.8725 43.242 24.8519 53.0594C14.8313 62.8769 9.26773 75.6853 9.25 88.9779V96.2459C9.25086 97.2517 9.60168 98.2324 10.2538 99.0518C10.9059 99.8713 11.827 100.489 12.8894 100.819C13.9517 101.149 15.1026 101.176 16.1824 100.894C17.2622 100.613 18.2174 100.039 18.9156 99.2501C24.2243 93.6058 30.7371 88.964 38.0738 85.5955C45.4106 82.2271 53.4241 80.1995 61.6466 79.6312C61.9175 79.6022 62.5948 79.5537 63.4291 79.5053V96.2459C63.4294 97.2041 63.7473 98.1407 64.3426 98.9373C64.9379 99.734 65.784 100.355 66.7739 100.721C67.7637 101.088 68.8529 101.184 69.9037 100.997C70.9545 100.81 71.9198 100.349 72.6775 99.6716L116.021 60.9088C117.037 60.0002 117.607 58.7679 117.607 57.4831C117.607 56.1983 117.037 54.9661 116.021 54.0575ZM74.265 84.5493V74.4419C74.265 73.1568 73.6942 71.9244 72.6781 71.0157C71.662 70.107 70.284 69.5965 68.8471 69.5965C67.4655 69.5965 61.8254 69.8388 60.3843 70.0084C45.7819 71.2102 31.8821 76.1718 20.3676 84.2925C21.6746 73.6057 27.3433 63.7256 36.2884 56.5439C45.2335 49.3622 56.8262 45.3835 68.8471 45.3697C70.284 45.3697 71.662 44.8592 72.6781 43.9506C73.6942 43.0419 74.265 41.8095 74.265 40.5244V30.417L104.529 57.4831L74.265 84.5493Z"/>
                      </svg>
                    </button>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No words saved yet.</p>
      <% end %>
    </div>
  </section>
</main>

<%= render "shared/footer" %>


