<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= content_for(:title) || "WorDonut" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="apple-touch-icon" href="/icon.png">  

  
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= yield :extra_css %>
  <%= javascript_importmap_tags %>
</head>

  <body>
    <%= yield %>
    <script>
    document.addEventListener("turbo:load", function() {
  document.querySelectorAll(".share-btn").forEach(button => {
    button.addEventListener("click", function() {
      const link = this.getAttribute("data-link");
      navigator.clipboard.writeText(link).then(() => {
        this.setAttribute("title", "Copied!");
        setTimeout(() => {
          this.removeAttribute("title");
        }, 2000);
      }).catch(err => {
        alert("Failed to copy.");
      });
    });
  });
});

    </script>
  </body>
</html>
